<a href="https://colab.research.google.com/github/akhmadazizmario/Python-Dasar/blob/master/Python_Code_Dasar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sample code

In [ ]:
#ini belajar python day 1
print('hallo world')

hallo world

In [ ]:
print('belajar python itu mudah')
x=3
print(x+6+5)

belajar python itu mudah
14

# Variable Pada Python

In [ ]:
cars= 50
mils= 43.6
name= "ujang"

print(cars)
print(mils)
print(name) 

print(cars+mils)

50
43.6
ujang
93.6

#List

In [ ]:
mylist = [ 'abcd', 786, 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(mylist)  #print complete list
print(type(mylist))    #prints type of object as list
print(len(mylist))  #prints length of the list
print(mylist[0])    #prints first element of the list
print(mylist[1:3])  
print(mylist[2:])
print(mylist * 2)
print(mylist + tinylist)

['abcd', 786, 2.23, 'john', 70.2]
<class 'list'>
5
abcd
[786, 2.23]
[2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 'abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

#list is mutable

In [ ]:
mylist = [ 'abcd', 786 , 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(mylist)
mylist.append('wiley') #appending an element to a list
print(mylist)
mylist.insert(2, 'python') #inserting an element at index 2
print(mylist)
mylist.remove(786) #removing atau hapus
print(mylist)
mylist.pop(3) #hapus elemen from a spesific posisi
print(mylist)
mylist.extend(tinylist) #extending a list with elements from another list
print(mylist)

['abcd', 786, 2.23, 'john', 70.2]
['abcd', 786, 2.23, 'john', 70.2, 'wiley']
['abcd', 786, 'python', 2.23, 'john', 70.2, 'wiley']
['abcd', 'python', 2.23, 'john', 70.2, 'wiley']
['abcd', 'python', 2.23, 70.2, 'wiley']
['abcd', 'python', 2.23, 70.2, 'wiley', 123, 'john']

#Tuple

In [ ]:
tuple_items = ('Cars', 786,2.23,'toyota',70.2)
tinytuple = (123,'camry')

print(tuple_items)
print(tuple_items[0])
print(tuple_items[1:3])
print(tuple_items[0])
print(tinytuple*2)
print(tuple_items+tinytuple)

('Cars', 786, 2.23, 'toyota', 70.2)
Cars
(786, 2.23)
Cars
(123, 'camry', 123, 'camry')
('Cars', 786, 2.23, 'toyota', 70.2, 123, 'camry')

#String

In [ ]:
string = "Data Science !"

print(string)
print(string[0])
print(string[2:5])
print(string[2:])
print(string * 2)
print(string + "foundation")

Data Science !
D
ta
ta Science !
Data Science !Data Science !
Data Science !foundation

# Type conversion : primitive

In [ ]:
x =  2.5; print(x, type(x), end=" >>>  ") #tanda ; bukan untuk tolak ukur error
y = int(x)
print(y, type(y)) #contoh tanpa tanda ; seperti di atas
x = 1; print(x, type(x), end=" >>> ")
y = bool(x) ; print(y, type(y))
x = '124'; print(x, type(x), end=" >>> ")
y = int(x); print(y, type(y))
x = '2.5'; print(x, type(x), end=" >>> ")
y = float(x); print(y, type(y))
x = True; print(x, type(x),end=" >>> ")
y = str(x); print(y, type(y))

2.5 <class 'float'> >>>  2 <class 'int'>
1 <class 'int'> >>> True <class 'bool'>
124 <class 'str'> >>> 124 <class 'int'>
2.5 <class 'str'> >>> 2.5 <class 'float'>
True <class 'bool'> >>> True <class 'str'>

#Type conversion : Non-Primitive

In [ ]:
x = [2, 5, 'Hi', 12, 2.5]; print(x, type(x), end = "\n >>> ")
y = tuple(x) ; print(y, type(y))
x = [2, 5, 'Hi', 12, 2, 2.5, 5]; print(x, type(x), end = "\n >>> ")
y = set(x) ; print(y, type(y))
x = (2, 5, 'Hi', 12, 2, 2.5, 5); print(x, type(x), end = "\n >>> ")
y = list(x); print(y, type(y))
x = [['name','john'],['age', 22],['city','delhi']]; print(x, type(x), end = "\n >>>")
y = dict(x); print(y, type(y))

[2, 5, 'Hi', 12, 2.5] <class 'list'>
 >>> (2, 5, 'Hi', 12, 2.5) <class 'tuple'>
[2, 5, 'Hi', 12, 2, 2.5, 5] <class 'list'>
 >>> {2, 2.5, 5, 12, 'Hi'} <class 'set'>
(2, 5, 'Hi', 12, 2, 2.5, 5) <class 'tuple'>
 >>> [2, 5, 'Hi', 12, 2, 2.5, 5] <class 'list'>
[['name', 'john'], ['age', 22], ['city', 'delhi']] <class 'list'>
 >>>{'name': 'john', 'age': 22, 'city': 'delhi'} <class 'dict'>

#Operator Aritmatika

In [ ]:
x = 15
y = 4 

print('x + y =',x+y) #addition
print('x - y =',x-y) #Subtraction
print('x * y =',x*y) #Multiplication
print('x / y =',x/y) #Division
print('x // y =',x//y) #Floor Division
print('x ** y =',x**y) #Exponent

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625

# Comparation Operations

In [ ]:
x = 18
y = 12

print('x > y is',x>y) 
print('x < y is',x<y)
print('x == y is',x==y)
print('x != y is',x!=y)
print('x >= y is',x>=y)
print('x <= y is',x<=y)

x > y is True
x < y is False
x == y is False
x != y is True
x >= y is True
x <= y is False

# Logical Operators

In [ ]:
x = True #ingat bahasa python itu sangat case sensitive harus disesuain dengan format tulisan jika huruf pertama kapital harus sesuai 
y = False

print('x and y is',x and y) # AND Logic
print('x or y is',x or y) # OR Logic
print('not x is',not x) # NOT Logic

x and y is False
x or y is True
not x is False

# Identify Operators

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello' 
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1) # identifikasi tidak sama?
print(x2 is y2) # identifikasi tidak sama?
print(x3 is y3) # identifikasi tidak sama?

False
True
False

# Membership Operators

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)  # adalah member ?
print('Hello' not in x) # adalah bukan member ?
print(1 in y)  # adalah member ?
print('a' in y) # adalah member ?

True
False
True
False

# Input Function

In [ ]:
# menginput sebuah kata untuk user
nama = input("Masukkan nama kamu :")

#output
print("hai", nama)

Masukkan nama kamu hallo
hello hallo

# Control Flow : Nested if-else

In [ ]:
var = 50
if var < 200:
  print ("Nilai ekspresi kurang dari 200")
  if var == 150:
    print (" yang nilai 150")
  elif var == 100:
    print(" yang nilai 100")
  elif var == 50:
    print(" yang nilai 50")
  elif var < 50:
    print(" nilai ekspresi kurang dari 50 ")
else:
  print("tidak dapat menemukan ekspresi yang benar")
print("selamat tinggal")

Nilai ekspresi kurang dari 200
 yang nilai 50
selamat gays

# operasi aritmatika

In [ ]:
print('(+ , - , * , /)')
print('==============================')
print('+ = TAMBAH')
print("- = KURANG")
print("* = KALI")
print("/ = BAGI")
print('==============================')
simbol = (input('pilih operator :'))
angka1 = float (input('masukan angka ke 1 : '))
angka2 = float (input('masukan angka ke 2 : '))

#PROSES PERHITUNGAN

if simbol== '+':
  perhitungan = angka1 + angka2
  print(f"hasilnya {perhitungan}")
  
elif simbol=='-':
  perhitungan = angka1 - angka2 
  print(f"hasilnya {perhitungan}")

elif simbol=='*':
	perhitungan = angka1 * angka2 
	print(f"hasilnya {perhitungan}")
	
elif simbol=='/':
	perhitungan= angka1 / angka2
	print(f'hasilnya {perhitungan}')

(+ , - , * , /)
==============================
+ = TAMBAH
- = KURANG
* = KALI
/ = BAGI
==============================
pilih operator :+
masukan angka ke 1 : 23
masukan angka ke 2 : 22
hasilnya 45.0

# Menghitung Luas Limas dengan Loop

In [ ]:
#Bangun Ruang Limas
#Volume = 1/3 luas alas tinggi sisi
#Luas = luas alas + jumlah luas sisi tegak

def volume():
    luas_alas = float(input("Masukkan Luas Alas: "))
    tinggi = float(input("Masukkan Tinggi Limas: "))
    sisi = float(input("Masukkan Sisi Limas: "))

    volume = 1/3 * luas_alas * tinggi * sisi

    print ("Volume Limas adalah %d" %volume)

def luas():
    luas_alas = float(input("Masukkan Luas Alas: "))
    jumlah_sisi_tegak = float(input("Masukkan Jumlah Sisi Tegak: "))

    luas = luas_alas + jumlah_sisi_tegak

    print("Luas Limas adalah %d" %luas)

def menu():
    print("Masukkan Nomor dibawah untuk menggunakan aplikasi")
    print("1. Volume Limas")
    print("2. Luas Limas")
    masukan = int(input("Masukka No: "))
    return masukan

loop = 1
masuk = 0
while loop >= 1:
    masuk = menu()
    if masuk == 1:
        volume()
    elif masuk == 2:
        luas()
print('Semoga Menyenangkan')

Masukkan Nomor dibawah untuk menggunakan aplikasi
1. Volume Limas
2. Luas Limas
Masukka No: 2
Masukkan Luas Alas: 120
Masukkan Jumlah Sisi Tegak: 120
Luas Limas adalah 240
Masukkan Nomor dibawah untuk menggunakan aplikasi
1. Volume Limas
2. Luas Limas
Masukka No: 1
Masukkan Luas Alas: 120
Masukkan Tinggi Limas: 120
Masukkan Sisi Limas: 120
Volume Limas adalah 576000
Masukkan Nomor dibawah untuk menggunakan aplikasi
1. Volume Limas
2. Luas Limas
Masukka No: 1
Masukkan Luas Alas: 10
Masukkan Tinggi Limas: 10
Masukkan Sisi Limas: 10
Volume Limas adalah 333
Masukkan Nomor dibawah untuk menggunakan aplikasi
1. Volume Limas
2. Luas Limas
Masukka No: 1
Masukkan Luas Alas: 10
Masukkan Tinggi Limas: 10
Masukkan Sisi Limas: 10
Volume Limas adalah 333
Masukkan Nomor dibawah untuk menggunakan aplikasi
1. Volume Limas
2. Luas Limas
Masukka No: 2
Masukkan Luas Alas: 10
Masukkan Jumlah Sisi Tegak: 10
Luas Limas adalah 20
Masukkan Nomor dibawah untuk menggunakan aplikasi
1. Volume Limas
2. Luas Limas

#Loop For Lop

In [ ]:
lst = ["wiley", "python", "pyspark", "data", "Engineering"]
for i in range(len(lst)):
  print(lst[i])

wiley
python
pyspark
data
Engineering

# Loop: Break

In [ ]:
for letter in 'for loop python':

  #break the loop as soon it sees 'p'
  if letter == 'p':
    break

  print('current letter:', letter)

current letter: f
current letter: o
current letter: r
current letter:
current letter: l
current letter: o
current letter: o

#Loop Continue

In [ ]:
for letter in 'for loop python':

  #break the loop as soon it sees 'p'
  if letter == 'p':
    continue
  print('current Letter:', letter)

current Letter: f
current Letter: o
current Letter: r
current Letter:
current Letter: l
current Letter: o
current Letter: o
current Letter:
current Letter: y
current Letter: t
current Letter: h
current Letter: o
current Letter: n

#Loop Pass

In [ ]:
for letter in "for loop python":
  pass

print("Hello from python")

Hello from python

#Build Function in Python

In [ ]:
mylist = [8,7,6,2,4,9,3]
print("mylist is", mylist)
print("type of mylist is", type(mylist))
print("length of mylist is", len(mylist))


print("=============================")
print("======  ========")
print("=========================")


# contoh function kedua
print("sum of all values",sum(mylist))
print("minimum value",min(mylist))
print("maximum value",max(mylist))
print("sorted list",sorted(mylist))

mylist is [8, 7, 6, 2, 4, 9, 3]
type of mylist is <class 'list'>
length of mylist is 7
=============================
======  ========
=========================
sum of all values 39
minimum value 2
maximum value 9
sorted list [2, 3, 4, 6, 7, 8, 9]

# Function Generaotor

In [ ]:
def simpleGeneratorFun():
  yield 1
  yield 2
  yield 3

x = simpleGeneratorFun()
print("Type of x -",type(x))

print(next(x))
print(next(x))
print(next(x))

Type of x - <class 'generator'>
1
2
3

In [ ]:
class A:
  print("Inside Class")

A()
A()
obj=A()

Inside Class

In [ ]:
def function():
  pass
function()

In [ ]:
import socket 
addr = "127.0.0.2561"
try : 
  socket.inet_aton(addr)
  print("valid IP")
except socket.error:
  print("Invalid IP")

Invalid IP